* {
  color: #61677C;
}
.item {
  background-color: #EBECF0;
  width: 10%;
  border-radius: 320px;
  padding: 15px 20px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;

}
.item:hover {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}

a{
  font-size: 20px;
  text-decoration: none;
}
